
<!-- It will turn green on mouse over -->
<p [appTurnGreen]="'green'" [defaultColor]="'yellow'">Turn into green on mouse over</p>
<!-- This will work as well, this is property binding as well -->
<p [appTurnGreen]="'green'" defaultColor="yellow">Turn into green on mouse over</p>

<app-header (featureSelected)="onNavigate($event)"></app-header>
<!-- Or Simply -->
<!-- <app-header (featureSelected)="loadedFeature = $event"></app-header> -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>