<div class="row">
    <div class="col-xl-12">
        <button type="button" class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xl-12">
        <div class="list-group">
            <!-- Binding the recipeEl to recipe property -->
            <app-recipe-item 
                *ngFor="let recipeEl of recipes" 
                [recipe]="recipeEl"
                (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item>
        </div>
    </div>
</div>

