<p>
  home works!
</p>
<button class="btn btn-primary" (click)="loadServerByPathParameters()">
  Load server programmatically (Path Params)
</button>
<br><br>
<a [routerLink]="['/servers', 5, 'edit']"
   [queryParams]="{allowEdit: '1'}"
   fragment="loading">  
  localhost:4200/servers/5/edit?allowEdit=1#loading
</a>
<!-- Or [fragment]="'loading'" -->
<br>
<button class="btn btn-primary" (click)="loadServerByQueryParameters(5)">
  Load server programmatically (QueryParams)
</button>

<br><br>
<!-- On login: will be able to access users tab -->
<button class="btn btn-primary mr-3" (click)="onLogin()">Login</button>
<!-- On logout: Will be redirected to home page on clicking users tab -->
<button class="btn btn-primary" (click)="onLogout()">Logout</button>